
<h3>Authorization</h3>
<form action="/auth" method="post">
  <label for="title"><strong>Login:</strong></label>
  <input type="text" name="login" id="login" value="">

  <label for="title"><strong>Password:</strong></label>
  <input type="text" name="password" id="password" value="">

  <input id="post_submit" name="commit" type="submit" value="Go!">
</form>