#authorization.erb

<h3>Авторизация</h3>
<form action="/auth" method="post">
  <label for="title"><strong>Логин:</strong></label>
  <input type="text" name="login" id="login" value="">

  <label for="title"><strong>Пароль:</strong></label>
  <input type="text" name="password" id="password" value="">

  <input id="post_submit" name="commit" type="submit" value="Сохранить">
</form>