
<h3>Get row by number:</h3>
<form action="/get_row" method="get">
  <label ><strong>Put number of row you want to:</strong></label>
  <input type="text" name="row_number" id="name" value="">

  <input id="column_submit" name="submit" type="submit" value="Get">
</form>