
<h3>Get column by name/number:</h3>
<form action="/get_column" method="post">
  <label ><strong>Put number or name of column you want to:</strong></label>
  <input type="text" name="column_name" id="name" value="">

  <input id="column_submit" name="submit" type="submit" value="Get">
</form>