<style type="text/css">
    TABLE {
        border-collapse: collapse;
        border: 1px solid black;
    }
    TD, TH {
        padding: 5px ;
        border: 1px solid black; /* Рамка вокруг таблицы */
    }
</style>

<h2>CSV file</h2>
<a href="/edit_cell">Edit some cell</a>
<br>
<a href="/get_column">Get column</a>
<br>
<a href="/get_row">Get row</a>
<br>
<a href="/get_range">Get range</a>
<br>
<br>

<table>
  <tr>
    <% (0..csv_file[1].count).each do |i| %>
        <td>C<%= i%> </td>
    <% end %>
  </tr>
<% i = 1 %>
<% csv_file.to_a.each do |row| %>
    <tr>
        <td>R<%= i%></td>
        <% row.each do |col| %>
            <td><%= col%> </td>
        <% end %>
        <% i = i + 1 %>
    </tr>
<% end %>
</table>


